{% extends 'SAAB/layout.html' %}
{% block conteudo %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>Árbitros</title>
    </head>
    <body>
        <h1 class="mt-4">Árbitros</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">Árbitros</li>
            <li class="breadcrumb-item active">Editar ou Adicionar Novo</li>
        </ol>
        <form method="post" class="w-75">
            {% csrf_token %}
            {{ formArbitro|crispy }}
            <div class="w-100 text-center">
                <button type="submit" class="w-50 mt-1 btn btn-success">Salvar</button>
            </div>
        </form>
    </body>
</html>     
{% endblock %}